@model IEnumerable<Book_Tracker.Models.AuthorDTO>

    <h2>Список авторов</h2>

    <table class="table">
        <thead>
            <tr>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Действия</th>
                            
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.BirthDate?.ToString("dd.MM.yyyy")</td>
                <td>
                    <a asp-action="BooksByAuthor" asp-route-id="@author.Id">Посмотреть книги</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-warning">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@author.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

<a asp-action="Create" class="btn btn-primary">Добавить нового автора</a>
